<div class="container">
   <div class="row">
    <article>
      <div class="col-md-6">
        <h1><p class="text-primary">コンテンツA</p></h1>
              <ul class="row_A">
                  <li class="col-sm-6 col-md-3 bg-info">contents1</li>
                  <li class="col-sm-6 col-md-3 bg-info">contents2</li>
                  <li class="col-sm-6 col-md-3 bg-info">contents3</li>
                  <li class="col-sm-6 col-md-3 bg-info">contents4</li>
              </ul>
      <div class="btn-group" role="group">
	     <button type="button" class="btn btn-default">詳細表示</button>
      </div>
      </div>
    </article>
    <article>
      <div class="col-md-6">
        <h1><p class="text-primary">コンテンツB</p></h1>
              <ul class="row_B">
                  <li class="col-sm-6 col-md-3 bg-success">contents1</li>
                  <li class="col-sm-6 col-md-3 bg-success">contents2</li>
                  <li class="col-sm-6 col-md-3 bg-success">contents3</li>
                  <li class="col-sm-6 col-md-3 bg-success">contents4</li>
              </ul>
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-default">詳細表示</button>
      </div>
      </div>
    </article>
  </div>
</div>
